body {
    font-family: "Poppins", sans-serif;
    background: #ffe6f2;
    text-align: center;
    padding-top: 80px;
}

.container {
    width: 350px;
    margin: auto;
    background: white;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(255, 150, 200, 0.4);
}

img {
    width: 200px;
    border-radius: 15px;
}

h2 {
    margin: 20px 0;
    color: #ff80b3;
}

.btn {
    padding: 12px 25px;
    margin: 10px;
    border: none;
    border-radius: 25px;
    font-size: 17px;
    cursor: pointer;
    transition: 0.3s;
}

#yesBtn {
    background: #da2b82;
    color: #ffffff;
}

#yesBtn:hover {
    background: #ff80b3;
}

#noBtn {
    background: #ffcce5;
    color: rgb(255, 70, 130);
    position: absolute;
}

#message {
    display: none;
    font-size: 20px;
    color: #ff5fa2;
    margin-top: 20px;
}

#message p {
    margin: 10px 0;
}
#repeatBtn {
    background: #da2b82;
    color: #ffffff;
    border: none;
    padding: 12px 25px;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
    transition: 0.3s;
    box-shadow: 0 0 12px rgba(255, 140, 200, 0.4);
}

#repeatBtn:hover {
    transform: scale(1.05);
    background: #9e1c5d;
    box-shadow: 0 0 20px rgba(255, 120, 190, 0.6);
}

/* Confetti container */
#confetti {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
    z-index: 999;
}

/* Floating hearts */
.heart {
    position: fixed;
    color: #ff6fa8;
    font-size: 25px;
    animation: floatUp 3s linear forwards;
    opacity: 0.8;
}

@keyframes floatUp {
    0% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
    100% {
        transform: translateY(-150px) scale(1.8);
        opacity: 0;
    }
}
